@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Загрузка изображений</h1>
    
    <p><a href="/upload">Простейшая форма загрузки</a></p>
</div>
