@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Посетите нашу веб студию <a href="http://creativcode.ru" target="_blank">CREATIVcode.ru</a></p>
